.displayitems {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6,auto);
 gap: 2rem;
}
.single_file {
    width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.1px solid lightgray;
  text-align: center;
  min-width: 3rem;
  min-height: 3rem;
  cursor: pointer;
}
.folders {
  text-decoration: none;
  color: black;
}
.files {
  width: auto;
  height: 100px;
}
.modal {
  min-height: 100vh;
}
